# currently, the main LLM is provided by Groq (faster inference)
# if you want better performance, use specilized LLMs from OpenRouter

# =========================
# API KEYS
# =========================

GROQ_API_KEY=your_groq_api_key_here # Main LLM (Groq)
OPENROUTER_API_KEY=your_openrouter_api_key_here # Fallback LLM (OpenRouter)

# =========================
# BASE URLS
# =========================

OPENROUTER_BASE_URL=https://openrouter.ai/api/v1 # Fallback LLM (OpenRouter)

# =========================
# MODELS
# =========================


GROQ_DEFAULT_MODEL=your_groq_model_here # Main LLM (Groq)

# OpenRouter models
OPENROUTER_AGGREGATION_MODEL=your_aggregation_model_here # Fallback LLM (OpenRouter)
OPENROUTER_EXTRACTION_MODEL=your_extraction_model_here # Fallback LLM (OpenRouter)
OPENROUTER_EMBEDDING_MODEL=your_embedding_model_here # Fallback LLM (OpenRouter)
